DESK_DATABASE=
DESK_ARTIFACTS=
DESK_TIMEZONE=
DESK_PAPER_MODE=
DESK_MODE=
DESK_ADMIN_TOKEN=
DESK_TELEGRAM_TOKEN=
DESK_TELEGRAM_ADMINS=
DESK_WEBHOOK_SECRET=
DESK_TELEGRAM_POLLING=
DESK_SQUARE_KEY=
DESK_LIVE_ENABLED=
DESK_POLICY_REVIEWED=
DESK_POLICY_MAX_AGE_DAYS=
DESK_DAILY_TARGET=
DESK_PLATFORM_DAILY_CAP=
DESK_HOURLY_CAP=
DESK_GAP_SECONDS=
DESK_SCAN_SECONDS=
DESK_SYMBOLS=
DESK_PROVIDERS=
DESK_ENABLE_DERIVATIVES=
DESK_NEWS_FEEDS=
DESK_CANDLE_MAX_AGE=
DESK_DRAFT_MAX_AGE=
DESK_MIN_CONFIDENCE=
DESK_MIN_RELATIVE_VOLUME=
DESK_MIN_QUOTE_VOLUME=
DESK_SHOCK_PERCENT=
DESK_MAX_DRAFTS_PER_SCAN=
DESK_POST_MIN_WORDS=
DESK_POST_MAX_WORDS=
DESK_ARTICLE_MIN_WORDS=
DESK_ARTICLE_MAX_WORDS=
DESK_IMAGE_DAILY_CAP=
DESK_ARTICLE_DAILY_CAP=
DESK_CAMPAIGN_DAILY_CAP=
DESK_AI_URL=
DESK_AI_KEY=
DESK_AI_MODEL=
DESK_AI_DAILY_REQUESTS=
DESK_AI_DAILY_TOKENS=
DESK_SIMILARITY_THRESHOLD=
DESK_FEE_BPS=
DESK_SLIPPAGE_BPS=
DESK_RETENTION_DAYS=
DESK_REPORT_WEEKDAY=
DESK_REPORT_HOUR=
DESK_REPORT_MINUTE=
DESK_PUBLISHING_HOURS=
